*, *:after, *:before {
	box-sizing: border-box;
}


ul {
	list-style: none;
	padding-left: 1em;
}

.u__centerW {
	margin: 0 auto;
}

.d__mw {
	max-width:1024px;
}

.d__lh {
	line-height: 1.5
}

.avatar {
	float: right;
}

.general, .contacts {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.general dt,
.contacts dt {
	margin-top: 15px;
}

.skills__list {
	list-style: none;
	max-width: 800px;
}

.skills__list__item {
	display: inline-block;
	width: 200px;
	margin-bottom: 20px;
}

.skills__list__item__name {
	font-weight: bold;
}

.skills__list__item__level {
	font-style: italic;
}


.summary {
	padding:20px;
}

dt {
	font-weight: bold;
}

.tags {
	padding: 0;
}

.tags__list {
	display: block;
	padding: 0;
}

.tags__list:before {
	content: "[";
}

.tags__list:after {
	content: "]";
}

.tags__list__item {
	display: inline;
	font-weight: bold;
	padding: 5px;
}

.tags__list__item:after {
	content: ',';
}

.tags__list__item:last-of-type:after {
	content: '';
}


.work > ul {
	padding-left: 10px;
}


h1, h2, h3, h4, h5, h6 {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

@media screen and (max-width: 1060px) {
	body {
		padding: 20px;
	}
}


.company__projects__project {
	display: inline-block;
	width: 49%;
	padding: 0.5em;
	min-width: 350px;
}

.company__projects__project:last-child {
	width: 100%;
}

.company__projects__project:nth-child(2n) {
	width: 49%;
}

.company__projects__project__name {
	margin-top: 0;
}

.company__name {
	margin-bottom: 0;
}

.company__position,
.company__time{
	font-size: small;
	color: grey;
}
